/* .App {
  text-align: center;
} */
.flex {
  display: flex;
}

.button {
  background-color: orange;
  border: none;
  color: #fff;
  padding: 0.6rem 0.8rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
  border-radius: 5px;
  font-weight: bold;
}

.button:focus {
  outline: none;
  box-shadow: none;
}

.text-center {
  text-align: center;
}

.disabled{
  pointer-events: none;
  opacity: 0.5;
}
